@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@font-face {
    font-family: 'moderataserifmedium';
    src: url('http://eunjinishere.xyz/moderataserif-webfont.woff2') format('woff2'),
         url('http://eunjinishere.xyz/moderataserif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'Inconsolata', monospace;
    background-color: #EFD048;
  }

  .navigation {
    left: 2%;
    float: left;
    top: 3%;
    z-index: 100;
    position: fixed;
    color: white;
  }

  ::-webkit-scrollbar {
      width: 7px;
  }

  ::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: transparent;
      -webkit-box-shadow: inset 0 0 5px #EFD048;
  }

  ::selection {
    background: transparent;
  }

  .portal {
    width: 300px;
    padding-right: 20px;
    padding-top: 20px;
    z-index: 1000;
    position: fixed;
    float: right;
  }

  #myVideo {
    text-align: center;
    position: fixed;
    top: 30%;
    left: 15%;
    width: 70%;
  }

  .test {
    z-index: 1000;
    position: absolute;
  }

  .textwriter {
    position: block;
    top: 7%;
    padding-left: 4%;
  }

  .next {
    z-index: 1000;
    font-size: 60px;
    font-weight: bold;
    float: right;
  }

  .blobtext {
    width: 80%;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .title {
    text-align: left;
    font-size: 48pt;
    display: block;
    padding-top: 3%;
    padding-left: 4%;
  }

  a {
    text-decoration: none;
  }

  /* unvisited link */
  a:link {
    color: #DF7401;
    text-decoration: none;
    opacity: 1;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    text-align: center;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }

  /* visited link */
  a:visited {
    color: #DF7401;
  }

  /* selected link */
  a:active {
    color: #DF7401;
  }

  p {
    font-family: 'moderataserifmedium';
    font-size: 24px;
    line-height: 1.4em;
    font-weight: bold;
    width: 50%;
  }


  /* Animation */
  /*p {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }

  p: nth-child(2)
  {
      white-space:nowrap;
      overflow:hidden;
     animation: animated-text2 4s steps(29,end) 1s 1 normal both;
      -webkit-animation-delay: 5s;
      animation-delay: 5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
  }

  /* text animation */
  /*@keyframes animated-text{
    from{width: 0;}
    to{width: 472px;}
  }

  @keyframes animated-text2{
    from{width: 0;}
    to{width: 472px;}
  }

  /* cursor animations */
  /*@keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
  }
